<h1>FORM</h1>
<app-header></app-header>
<div class="containers">
        <div class="row">
        <div class="col-md-6">
        <form #userRegForm='ngForm' (ngSubmit)="userRegForm.form.valid && Register(userRegForm.value)" novalidate>
        <h2 class="text-center">Registration</h2>
          
        <div class="form-group">
            <input type="text" class="w3-input w3-border" placeholder="Name" name="name" [(ngModel)]="name" #names="ngModel" [ngClass]="{ 'is-invalid': userRegForm.submitted && names.invalid }" required>
            <div *ngIf="userRegForm.submitted && names.invalid" class="invalid-feedback">
            
                <div *ngIf="names.errors.required" class="alert-danger"> Name is required</div>
            
            </div>
        
        </div>

        <div class="form-group">
            <input type="text" class="w3-input w3-section w3-border" placeholder="Email" name="email" [(ngModel)]="email" #emails="ngModel" [ngClass]="{ 'is-invalid': userRegForm.submitted && emails.invalid }" required>
            <div *ngIf="userRegForm.submitted && emails.invalid" class="invalid-feedback">
            
                <div *ngIf="emails.errors.required" class="alert-danger"> Email is required</div>
            
            </div>
        
        </div>

        <div class="form-group">
            <input type="text" class="form-control" id="password" placeholder="Password" name="password" [(ngModel)]="password" #pass="ngModel" [ngClass]="{ 'is-invalid': userRegForm.submitted && pass.invalid }" required>  
            <div *ngIf="userRegForm.submitted && pass.invalid" class="invalid-feedback">
                <div *ngIf="pass.errors.required" class="alert-danger">Password is required</div>
            </div>
        </div>


        <div class="form-group">
            <input type="text" class="form-control" id="conpassword" placeholder="Confirm Password" name="conpassword" [(ngModel)]="conpassword" #conpass="ngModel" [ngClass]="{ 'is-invalid': userRegForm.submitted && conpass.invalid }" required validateEqual='password'>  
                <div *ngIf="userRegForm.submitted && conpass.invalid" class="invalid-feedback">
                    <div *ngIf="conpass.errors.required" class="alert-danger">Confirm Password is required</div>
                    <div *ngIf="conpass.errors.notEqual" class="alert-danger">Password does not match</div>
                </div>
        </div>
       
        <button class="w3-button w3-black w3-section" type="submit" >
            <i class="fa fa-paper-plane"></i> SIGN UP
        </button>
        
        </form>
        
        </div>
        
        </div>
        </div>
        <app-footer></app-footer>
