<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<app-header></app-header>
<div class="container">
  <h2>Project Detail</h2>   
  <button class="w3-button w3-black w3-section" type="submit" routerLink="/projects">
      <i class="fa fa-paper-plane"></i>Create Project
  </button>

  <div class="search-hero">
      <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442;  Start searching Projects">
  </div>


  <table class="table table-striped">
      
    <thead>
      <tr>
        <th>Project Name</th>
        <th>Description</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
   
    <tbody>
        
      <tr *ngFor="let project of projects | filter:searchText">
          
        <td>{{project.project_name}}</td>
        <td>{{project.description}}</td>
        <td> <button class="w3-button w3-black w3-section" type="submit" routerLink="/projectedit/{{project.id}}">
            <i class="fa fa-paper-plane"></i>Edit
        </button></td> 
        <td> <button class="w3-button w3-black w3-section" type="submit" (click)="delProjects(project.id)">
          <i class="fa fa-paper-plane"></i>Delete
      </button></td>
      
      </tr>
    
    
    </tbody>

  </table>
  
</div>

<app-footer></app-footer>
</body>
</html>


 
